<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Visualizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 style="color: greenyellow;">BeatCapsule</h1>
    <h3 style="color: greenyellow;"><i>Visualize your Spotify music journey!</i></h3>
    <br>
    <br>
    <a href="{{ url_for('login') }}" class="login-btn">Login with Spotify</a>
</body>
</html>